body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Dancing Script', cursive; 
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 10px; 
    padding: 20px;
}

.image-gallery img {
    max-width: 5000px; 
    height: 900px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}


.link-button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}


.link-button:hover {
    background-color: #0056b3;
}
